################################################
# byte compiled files
################################################
*.elc
################################################
#  nxhtml/etc/schema/xhtml-loader.rnc
################################################
xhtml-loader.rnc
